body{
    margin:0;
    padding: 0;
}
section{
    height: 100%;
    width: 100%;
}

div{
    border: 2px solid black;
    height: 50px;
    width: 100%;
}
section{
    display: flex;
    flex-wrap: wrap;
}
div:nth-child(2n){
    background-color: brown;
}
div:nth-child(2n+1){
    background-color: wheat;
}

@media (min-width: 720px) {
    div{
        width: 45%;
    }
}